@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  margin: 0;
  background-color: #000;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 238, 238);
  height: 100vh;
}

.home_page {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 100vh;

  z-index: 100;
}
.map_list{
  position: absolute;
  height: 100%;
  right: 10px;
  top: 10px;
}
.map_list ul{
  list-style: none;
  text-decoration: none;
}
.map_list ul li{
  color: white;
font-size: 20px;
}


.home_button h1, .canvas_button h1{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
.home_button{
  position: absolute;
  bottom: 30px;
  left: 40px;
  color: white;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  z-index: 100;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.home_button:hover{
  transform: translate(0px, -4px); 
}
.modal_btn{
  color: white;
  background-color: #e21b1b;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
justify-content: center;
width: min-content;
align-items: center;
}
.map_list{
  display: flex;
  flex-direction: column;
align-items: center;
  gap: 10px;
}